html {
    background-color: #eee;
    margin-left: 30px;
    margin-top: 20px;
}

body {
	background-color: #eee;
	
}

#label {
	font-size: 20px;
	font-family: "Gill Sans", sans-serif;
	color: #8D9DB2;
	margin-bottom: 20px;
}

#header {
	  font-family: 'Great Vibes', Helvetica, sans-serif;
	  font-weight: bold;
	  font-size: 3.6em;
	  line-height: 1.7em;
	  margin-bottom: 10px;
	  text-align: center;
	  color: #8D9DB2;
}

.row {
	font-size: 20px;
	font-family: "Gill Sans", sans-serif;
	margin: 10px;
}
#totals {
	color: steelblue;
	font-weight:bold;
}
#remaining {
	color: steelblue;
	font-weight:bold;
}

#budget {
	color: steelblue;
	font-weight:bold;
}