@import url('http://fonts.googleapis.com/css?family=Sacramento');


#label {
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	color: #5199ce;
	margin-bottom: 20px;
}

#header {
	  font: 100 40px 'Sacramento', Helvetica, sans-serif;
	  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
	  font-weight: bold;
	  line-height: 1.7em;
	  margin-bottom: 10px;
	  text-align: center;
	  color: #5199ce;

}

.row {
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	margin: 10px;
}

.list.row {
	margin-left: 30px;
}

#totals, #remaining, #budget {
	color: #5199ce;
}
.btn.save-btn {
	color: green;
}

.editable.allotted{
	cursor: hand;
	cursor: pointer;
}

.editable.allotted:hover {
	color:#5199ce;
}

.editable.total-budget:hover {
	cursor:hand; cursor:pointer;
	color:black;
}

#budget, #remaining, #totals{
	font-size: 22px;
	font-family: "Open Sans", sans-serif;
}
