@import url('http://fonts.googleapis.com/css?family=Sacramento');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Amatic+SC');


li a { cursor: pointer; cursor: hand; }    

.stickynote:hover {
    cursor: pointer;
    cursor: hand;

    border-bottom-right-radius: 20%;
    
    -moz-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);

}

.stickynote:hover:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 0 0 20px 20px;
    border-style: solid;
    border-color: #888888 #EEDC82;
    border-bottom-right-radius: 200%;
    box-shadow: 0px 0px 6px #888888;
    display: block;
    width: 0;    
}

body {
    padding: 1%;
    background-image: url('pics/yellow.jpg');;
}

h1 {
    margin: 0px;
    padding-right: 2%;
    font: 100 42px 'Sacramento', Helvetica, sans-serif;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    display: inline-block;
    cursor: pointer;
}

h2 { 
      font: 100 50px 'Open Sans';
      text-shadow: 0px 0px 1px rgba(0,0,0,0.1);
      line-height: 1.7em;
      text-align: center;
      margin: 0px;
    }

.navigationbar {
}

ul.header {
    display: inline;
    /*padding: 10px 0px;*/
    width: 60%;
    float: right;
    padding-left: 15%;
}

h1 a {
    color: #1EBED6;
}

a {
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

.header li {
    font: 100 22px'Gill Sans';
    padding: 1%;
    display:inline-block;
    text-align: center;
    margin-left:4%;
}

.header li:hover{
    border-bottom: 2px solid #1EBED6;
}

.header li:hover a{
    color: #1EBED6;
}

#boardBackground {
    border-radius: 5px;
    width: 100%; 
    height: 90%;
    background-image: url('pics/lighterWood.jpg');
    display: inline-block;
    /*margin: 2%;*/
}

#ideaBoard {
    border-radius: 2px;
    margin:1%;
    margin-left: 1%;
    width: 48.5%;
    height: 96%;
    background-image: url('pics/cotton.jpg');
    float: left;
    z-index: 10;
}

#decisionBoard {
    border-radius: 2px;
    margin:1%;
    margin-left: 50.5%;
    width: 48.5%;
    height: 96%;
    background-image: url('pics/cotton.jpg');
    z-index: 10;
}

.stickynote {
    font-family: "Open Sans";
    height: 125px;
    width: 125px;
    background-color: #EEDC82;
    box-shadow: 4px 4px 6px #888888;
    float:left;
    margin: 6px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

#archiveheader {
    border-right: 0px solid black;
}

#decisionHeader, #ideaHeader {
    position: absolute;
    font-family: "Amatic SC";
    font-weight: bold;
    margin-top: -20px;
    height: 40px;
    width: 15%;
    border-radius: 1px;
    background-color: #cfefff;
    text-align: center;
    font-size: 30px;
    z-index: 11;
}

#ideaHeader {
    margin-left: 15.5%;

}

#decisionHeader {
    margin-left: 16.5%;
}

#budgetTotalRemaining {
    width: 45%;
    height: 6%;
    border-radius: 5px;
    background-color: lightgray;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    z-index: 11;
    /*bottom: -7%;*/
    margin: auto;
    padding: 1%;
}

#ideaContent {
    padding-top:25px;
}

#decisionContent {
    padding-top:25px;
}

#filterPopover {
    position: absolute;
    background-color: #edf8fd;
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
    z-index: 9;
}

#categories {
    list-style-type: none;
    padding-left: 1em;
}

#cost {
    list-style-type: none;
    padding-left: 1em;
}

#tags {
    list-style-type: none;
    padding-left: 1em;
}

#addStickyButton {
    position: relative;
    font-family: "Open Sans";
    font-size: 18px;
    margin: auto;
    width: 36%;}

#addStickyPopup {
    font-family: "Open Sans";
    font-size: 14px;
    position: absolute;
    background: white;
    z-index: 15;

    padding: 1%;
    height: 45%;
}

.ideaInfo{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
}

#ideaTitleInput {
    position: relative;
    width: 100%;
    margin-bottom: 5%;
}

#dragAndDropPicUploader{
    position: relative;
    margin-bottom: 5%;
}        

.ui-helper-hidden-accessible {
    display: none
}

#descriptionAndCost{
    float: left;
    height: 40%;
    width: 49%;
    margin-right: 1%;
}

#ideaDescriptionInput{
    position: relative;
    width: 100%;
    height: 69%;
    margin-bottom: 1%;
}  

#ideaCostInput{
    position: relative;
    width: 100%;
    height: 29%;
    margin-top: 1%;
}

#tagsAndCategory{
    position: relative;
    float: right;
    width: 49%;
    height: 40%;
    margin-left: 1%;
}

#ideaCategoryPicker{
    position: relative;
    height: 69%;
    margin-bottom: 1%;
}

#categoryPopover{
    width: 100%;
    height: 39%;
    margin-bottom: 1%;
}

select{
    width: 100%;
    font-size: 400%;
    margin-bottom: 1%;
}

#ideaTagInput{
    position: relative;
    width: 100%;
    height: 69%;
    overflow: scroll;
}

.bootstrap-tagsinput{
    width: 100%;
    height: 69%;
    overflow: scroll;
}

#saveStickyButton {
    position: relative;
    height: 10%;
    width: 20%;
    margin-top: 1%;
    margin-left: 29%;
    margin-right: 1%;
    padding: 1%;
}

#cancelStickyButton, #closeIdeaButton{
    position: relative;
    margin-top: 1%;
    height: 10%;
    width: 20%;
}

#ideaView {
    position: absolute;
    z-index: 15;
    top: 20%;
    width: 30%;
    height: 50%;
    box-shadow: 1px 1px 20px #888888;
}

#trashIcon{
    position: fixed;
    left: 3%;
    bottom: 10%;
    margin-bottom: -70px;
    font-size: 2.5em;
    z-index: 15;
    color: #BF7D91;
}

#moveRightIcon{
    position: fixed;
    left: 50%;
    bottom: 50%;
    margin-left: -2%;
    font-size: 4em;
    z-index: 13;
    color: #00CC66;
}

#moveRightIconFilling{
    position: fixed;
    left: 50%;
    bottom: 50%;
    margin-left: -2%;
    font-size: 4em;
    z-index: 13;
    color:white;
}

#moveLeftIcon{
    position: fixed;
    left: 50%;
    bottom: 50%;
    margin-left: -2%;
    margin-bottom: -100px;
    font-size: 4em;
    z-index: 15;
    color: #F6A028;
}

#moveLeftIconFilling{
    position: fixed;
    left: 50%;
    bottom: 50%;
    margin-left: -2%;
    margin-bottom: -100px;
    font-size: 4em;
    z-index: 15;
    color:white;
}

#trashPic{
    width: 50%;
    max-width: 50%;
    height: auto;
}

#trashIcon:hover{

    -ms-animation:wiggle .3s 1;
    -moz-animation:wiggle .3s 1;
    -webkit-animation:wiggle .3s 1;
    animation:wiggle .3s 1;
}

#iframeClose {
    font-size: 15px;
    color: white;
    display:none;
    z-order: 20;
}

iframe {
    display:none;
    position: absolute;
    top: 70;
    width: 100%;
    height: 900;
    z-index: 17;
    overflow: hidden;
}

iframe[seamless] {
    border: none;

}

.deleted_archive_view {
    font-family: Open Sans;
    color: #cdac00;
    display:none;
    position: absolute;
    top: 70;
    width: 100%;
    height: 900;
    z-index: 17;
    overflow: hidden;
}

#wrapper {
  background: #fbf9ef;
  margin: 0 auto;
  padding: 10px 17px;
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th span:after {
  content:"\21d5";
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span:after {
  content: "\25B2"
}
#keywords thead tr th.headerSortDown span:after {
  content: "\25BC"
}

#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}

.ui-menu {
    position: relative;
    width: 14%;
    background-color: #cfefff;
    border-radius: 2px;
    border: solid 1px black;
    
}


.ui-menu .ui-menu-item a{
    color: black;
    border-radius: 0px;
    
}

.divider{
    width: 50%;
    display: inline-block;
}

#ideaBody{
    height: 93%;
    padding: 1%;
}

.cancelIdeaView{
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 12px;
    height: 100%;
    width: 7%;
    padding: 0.5%;
}

.stickyNoteHeader{
    height: 7%;
    padding: 0.5%;
}

@-ms-keyframes wiggle{
    0%{-ms-transform:rotate(3deg);}
    50%{-ms-transform:rotate(-3deg);}
    100%{-ms-transform:rotate(3deg);}
}

@-moz-keyframes wiggle{
    0%{-moz-transform:rotate(3deg);}
    50%{-moz-transform:rotate(-3deg);}100%
    {-moz-transform:rotate(3deg);}
}

@-webkit-keyframes wiggle{
    0%{-webkit-transform:rotate(3deg);}
    50%{-webkit-transform:rotate(-3deg);}
    100%{-webkit-transform:rotate(3deg);}
}

@keyframes wiggle{
    0%{transform:rotate(3deg);}
    50%{transform:rotate(-3deg);}
    100%{transform:rotate(3deg);}
}

a.wiggle-me:hover{
    -ms-animation:wiggle .3s 2;
    -moz-animation:wiggle .3s 2;
    -webkit-animation:wiggle .3s 2;
    animation:wiggle .3s 2;
}

ul
{
    list-style-type: none;
    padding: 0;
}

.h2 {
    font: 40px 'Amatic SC';
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding-bottom: 0.5em;
    color: #4b400a;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(239, 220, 130,  0.5);
}

ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all {
    z-index: 20 !important;
}

.ideaViewTitle{
    font-size: 10%;
    text-align: center;
}

.editIdeaView{
    background: white;
    color: black;
}