li a { cursor: pointer; cursor: hand; }    

.stickynote:hover {
    cursor: pointer;
    cursor: hand;

    border-bottom-right-radius: 20%;
    
    -moz-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);

}

.stickynote:hover:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 0 0 20px 20px;
    border-style: solid;
    border-color: #888888 #EEDC82;
    border-bottom-right-radius: 200%;
    box-shadow: 0px 0px 6px #888888;
    display: block;
    width: 0;    
}

body {
    padding-left:2%;
    padding-top:2%;
    background-color: #FFFFFF;
}

h1 {
    margin: 0px;
    padding-right: 2%;
    font: 100 60px'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    display: inline-block;
}

h2 { 
      font: 100 60px'Gill Sans';
      text-shadow: 0px 0px 1px rgba(0,0,0,0.1);
      line-height: 1.7em;
      margin-bottom: 10px;
      text-align: center;
    }

.navigationbar {
}

ul.header {
    display: inline;
    padding: 10px 0px;
    margin: 0px;
    background-color:silver;
}
h1 a {
    color: blue;
}

a {
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: none;
}

.header li {
    font: 18pt bold "Gill Sans";
    width:12%;
    padding: 1%;
    display:inline-block;
    color: #EEDC82;
    border-right: 2px solid black;
    /*background-color: #F1E5ED;*/
    text-align: center;
}

#boardBackground {
    border-radius: 5px;
    width: 96%; 
    height: 90%;
    background-image: url('pics/blueRusticMetal.jpg');
    display: inline-block;
}

#ideaBoard {
    border-radius: 2px;
    margin:1%;
    margin-left: 1%;
    width: 48.5%;
    height: 96%;
    background-image: url('pics/cotton.jpg');
    float: left;
    z-index: 10;
}

#decisionBoard {
    border-radius: 2px;
    margin:1%;
    margin-left: 50.5%;
    width: 48.5%;
    height: 96%;
    background-image: url('pics/cotton.jpg');
    z-index: 10;
}

.stickynote {
    position: absolute;
    font-family: "Gill Sans";
    height: 125px;
    width: 125px;
    background-color: #EEDC82;
    box-shadow: 4px 4px 6px #888888;


    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

#archiveheader {
    border-right: 0px solid black;
}

#decisionHeader, #ideaHeader {
    position: absolute;
    font: "Gill Sans";
    margin-top: -20px;
    height: 40px;
    width: 15%;
    border-radius: 1px;
    background-color: #EEDC82;
    text-align: center;
    font-size: 26px;
    z-index: 11;
}

#ideaHeader {
    margin-left: 15.5%;
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}

#decisionHeader {
    margin-left: 15.5%;
    -moz-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

#budgetTotalRemaining {
    position: absolute;
    /*margin-top: 10px;*/
    height: 40px;
    width: 24%;
    border-radius: 5px;
    background-color: #EEEEEE;
    text-align: center;
    font-family: "Helvetica";
    font-size: 20px;
    z-index: 11;
    /*bottom: -7%;*/
    margin-left: 10%;
}

#ideaContent {
    padding-top:25px;
}

#decisionContent {
    padding-top:25px;
}

#filterPopover {
    position: absolute;
    background-color: #EEDC82;
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
    z-index: 9;
}

#categories {
    list-style-type: none;
    padding-left: 1em
}
#cost {
    list-style-type: none;
    padding-left: 1em
}
#tags {
    list-style-type: none;
    padding-left: 1em
}

#addIdeaButton {
    position: relative;
    font-family: "Gill Sans";
    font-size: 14px;
    left: 36%;
    top: 5%;
    width: 36%;
}

#ideaPopup {
    font-family: "Gill Sans";
    font-size: 12px;
    position: absolute;
    background: white;
    border: 1px solid black;
    padding: 10px;
}

.ideaInfo{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 75%;
    background: white;
    border: 1px solid black;
}

#ideaTitleInput {
    position: relative;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

#dragAndDropPicUploader{
    position: relative;
    padding: 10px;
    width: 100%;
    height: 20%;
}

#ideaDescriptionInput{
    position: relative;
    padding: 10px;
    width: 100%;
    height: 10%;  
}          

.ui-helper-hidden-accessible {
    display: none
}

#ideaCostInput{
    position: relative;
    padding: 10px;
    width: 100%;

}

#descriptionAndCost, #descriptionAndCostView{
    width: 50%;
    float: left;
    padding: 10px;
}

#ideaCategoryPicker{
    position: relative;
    padding: 10px;
    width: 100%;
}

#ideaTagInput{
    position: relative;
    padding: 10px;
}

#tagsAndCategory, #tagsAndCategoryView{
    position: relative;
    padding: 10px;
    width: 50%;
    float: right;
}

#saveIdeaButton{
    position: relative;
    padding: 10px;
}

#cancelIdeaButton, #closeIdeaButton{
    position: relative;
    padding: 10px;
}

#ideaView {
    position: absolute;
    z-index: 15;
    top: 20%;
    background: white;
    border: 1px solid black;
    width: 30%;
    box-shadow: 10px 10px 20px #888888;
}

#trashIcon{
    position: absolute;
    left: 20;
    bottom: 10;
    margin-bottom: -70px;
    font-size: 5em;
    width: 125px;
    height: 125px;
    z-index: 15;
    color: #BF7D91;
    background-image: url('empty_trash.png');
}

#trashIcon:hover{

    -ms-animation:wiggle .3s 1;
    -moz-animation:wiggle .3s 1;
    -webkit-animation:wiggle .3s 1;
    animation:wiggle .3s 1;
}

#iframeClose {
    font-size: 30px;
    color: white;
    display:none;
}

iframe {
    display:none;
    position: absolute;
    top: 0;
    width: 94%;
    height: 100%;
    z-index: 15
}

iframe[seamless] {
    border: none;

}

.deleted_archive_view {
    display:none;
    position: absolute;
    top: 0;
    width: 94%;
    height: 100%;
    z-index: 16;
}

#wrapper {
  background: #eee;
  margin: 0 auto;
  padding: 10px 17px;
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}


#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('up-arrow.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('down-arrow.png');
}

#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}

.ui-menu {
    width: 14%;
    background-color: #F1E5ED;
    border-radius: 2px;
    border: solid 1px black;
}

.ui-menu .ui-menu-item a{
    color: black;
    border-radius: 0px;
    z-index: 10;
}

.divider{
    width: 50%;
    display: inline-block;
}

#ideaBody{
    padding: 10px;
}

.cancelIdeaView{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.stickyNoteHeader{
    background-color: #8A6F4E;
}

@-ms-keyframes wiggle{
    0%{-ms-transform:rotate(3deg);}
    50%{-ms-transform:rotate(-3deg);}
    100%{-ms-transform:rotate(3deg);}
}

@-moz-keyframes wiggle{
    0%{-moz-transform:rotate(3deg);}
    50%{-moz-transform:rotate(-3deg);}100%
    {-moz-transform:rotate(3deg);}
}

@-webkit-keyframes wiggle{
    0%{-webkit-transform:rotate(3deg);}
    50%{-webkit-transform:rotate(-3deg);}
    100%{-webkit-transform:rotate(3deg);}
}

@keyframes wiggle{
    0%{transform:rotate(3deg);}
    50%{transform:rotate(-3deg);}
    100%{transform:rotate(3deg);}
}

a.wiggle-me:hover{
    -ms-animation:wiggle .3s 2;
    -moz-animation:wiggle .3s 2;
    -webkit-animation:wiggle .3s 2;
    animation:wiggle .3s 2;
}